div#siteworkingtime {display:none !important;}
div.aukroblock {display:none !important;}
.green-item {display:none !important;}
.header-login{display:none !important;}
#pbtranslate {position:fixed;right:40%;bottom:15%;padding:0;}
.warning-translate{width:100%;height:100%;background-color:#fc9713;color:#fff;padding-left:1em !important;font-size:1.1em;margin-top:1em;color:#fff;}

