div#siteworkingtime {display:none !important;}
div.aukroblock {display:none !important;}
.green-item {display:none !important;}
.header-login{display:none !important;}
/*.content-block-alawar{display:none !important;}*/ /* изза креша перевода */
/* div#privatcredit {display:none !important;} */
/* div#flydiv {display:none !important;} */
